* {
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
}

@media only screen and (min-width : 1291px) {
    .main-tag {
        padding: 50px 0px;
        color: #505050;
        font-size: 21px;
        font-weight: bold;
        background-color: #f8f8f8;
    }
    
}

@media only screen and (max-width: 1290px) {
    .main-tag {
        padding: 50px 0px;
        color: #505050;
        font-size: 18px;
        font-weight: bold;
        background-color: #f8f8f8;
    }
}

@media only screen and (max-width: 1186px) {
    .main-tag {
        padding: 50px 0px;
        color: #505050;
        font-size: 15px;
        font-weight: bold;
        background-color: #f8f8f8;
    }
}

@media only screen and (max-width: 1048px) {
    .main-tag {
        flex-direction: column;
    }

    .mb-no {
        display: none;
    }

    .main-box {
        justify-content: center !important;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 500px) {

    .mb-tno {
        display: none;
    }

}

body {
    background-color: #ffffff;
    font-family: 'gulim' 'gothic';
}

.navbar {
    background-color: #ffffff;
    height: 170px;
    position: relative;
    z-index: 1000;
  
}

.navbar-brand img {
    width: 67px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

.navbar-nav > li > a {
    border-radius: 100px;
    height: 30px;
    width: 100px;
}

.main-img{
    height: 80px;
    width: 80px;
    padding: 15px 15px;
    background-color: #ffffff;
    border-radius: 50% 0% 50% 0%;
    box-shadow: 0px 0px 5px 0px #d8d8d8;
}

.nav-link {
    padding: 0px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.navbar-nav .active > .nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .show > .nav-link {
    background-color: #ffb4d0;
    color: #ffffff !important;
} 

.dropdown-menu li > a:focus, .dropdown-menu li > a:hover {
    text-decoration: none;
    background-color: transparent;
}
.navbar-toggler {
    margin-top: 70px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 100%;
    height: auto;
}

.dropdown-menu {
    top: 35px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
}

.nav-item {
    text-align: center;
    padding: 0px 15px;
    z-index: 9999;
}  

.navbar-nav .nav-link {
    color: #ffb4d0;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.3s ease; /* 텍스트의 색 변화 속도 지정 */
}

.navbar-collapse {
    z-index: 9999;
}

.navbar-nav .nav-link:hover {
    color: #ffffff; /* 호버 효과 색상 지정 */
    background-color: #ffb4d0;
}

.navbar-nav > li:not(:last-child) {
    margin-right: 20px;
}

.separator {
    width: 60%;
    height: 1px;
    background-color: #000000;
    margin: 20px auto;
}

.main-box {
    align-items: center;
    justify-content: flex-end;
    margin-right: 10%;
}

.divider {
    height: 30px;
    width: 1px;
    background-color: #aaaaaa;
  }

.custom-button {
    width: 100%;
    height: 30px;
    font-size: 14px;
    border: none;
    background-color: #137BEB;
    color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
.custom-button:hover {
    background-color: #308df1; /* 호버할 시 밝은 핑크색 */
    color: #ffffff; /* 글자색 */
    transition: background-color 0.3s ease-in-out; /* 호버할 시 변하는 효과 */
}


.btn-sub {
    font-size: 15px;
    color: #aaaaaa;
    text-align: center;
}

.dropdown-submenu {
    position: relative;
    font-size: 14px;
}

.dropdown-submenu:hover {
    background-color: #ccdef1;
    transition: all 0.3s;
}


.dropdown-submenu>.dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -6px;
    margin-right: -1px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-item:hover {
    background-color: #ccdef1 !important;
    color: #505050 !important;
  }

.dropdown-item:active {
  background-color: #ccdef1 !important;
  color: #505050 !important;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
    font-size: 14px;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-right-color: #cccccc;
    margin-top: 5px;
    margin-left: -10px;
}

.dropdown-submenu a {
    transition: all 0.3s;
}

.cardunderline {
    text-decoration: none;
    color: #ffcadf;
}

.cardunderline:hover {
    text-decoration: none;
    color: #ffcadf;
    transition: all 0.5s;
}

.card1:hover {
    transform: translateY(-7px);
    transition: all 0.3s;
    box-shadow: 0px 0px 10px 5px #f8d7da;
}
.card2:hover {
    transform: translateY(-7px);
    transition: all 0.3s;
    box-shadow: 0px 0px 10px 5px #dadcf8;
}
.card3:hover {
    transform: translateY(-7px);
    transition: all 0.3s;
    box-shadow: 0px 0px 10px 5px #d7f0dd;
}

.card1:not(:hover) {
    transform: translateY(0);
    transition: all 0.3s;
    box-shadow: 0px 0px 5px 0px #f8d7da;
}
.card2:not(:hover) {
    transform: translateY(0);
    transition: all 0.3s;
    box-shadow: 0px 0px 5px 0px #dadcf8;
}
.card3:not(:hover) {
    transform: translateY(0);
    transition: all 0.3s;
    box-shadow: 0px 0px 5px 0px #d7f0dd;
}

.card-title {
    text-align: center;
    line-height: 1.5;
    font-size: 25px;
    font-weight: bold;
    color: #505050;
}

.nav-sub:hover {
    filter: opacity(0.5) drop-shadow(0 5 0 #e07070);
    transition: all 0.3s;
}

.title1 {
    text-align: center;
    margin-top: 70px;
}


.carousel-item {
    transform: translateX(0);
    transition: transform 0.7s ease-in-out;
}
  
.carousel-item.prev {
    transform: translateX(100%);
}
  
.carousel-item.next {
    transform: translateX(-100%);
}

/* .menu-item::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: #ffcadf;
    transition: width 0.3s ease;
    margin-left: 10%;
}

.menu-item:hover::after {
    width: 70%;
}

.menu-item::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: #ffcadf;
    transition: width 0.3s ease;
}

.menu-item.active::after,
.menu-item:hover:not(.active)::after {
    width: 80%;
}
 */
.stop-dragging{
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.dropdown-item-arrow::after {
    display: none !important;
}

.card-main {
    background-color: #ffffff;
    margin-top: 95px;
    left: 5%;
}

.tpd {
    padding: 30px 0px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
}

.sub-text1 {
    font-size: 14px;
    color: #333333;
}

.sub-text2 {
    font-size: 22px;
    color: #333333;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.sub-box {
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.text-left {
    width: 45%;
    text-align: center;
}
  
.image-right {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
  }
  
.text-right {
    margin-left: 20px;
}

.image-right:last-child {
    margin-right: 0;
}

.marquee-container {
    width: 100%;
    background-color: #f8f8f8f8;
    overflow: hidden;
    white-space: nowrap;
    padding: 20px 0px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.marquee {
    display: inline-block;
    position: absolute;
    animation: marquee 18s linear infinite;
    font-size: 12px;
    opacity: 0;
    left: -100%;
    white-space: nowrap;
}

@keyframes marquee {
    0% {
        left: -100%;
        opacity: 0;
    }
    8.33% {
        left: -30%;
        opacity: 1;
    }
    91.67% {
        left: 100%;
        opacity: 1;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

.card-content p {
    margin: 0;
    line-height: 1.5;
    text-align: center;
    font-size: 15px;
    color: #505050;
}